<!DOCTYPE html>
<html>
<head>
  <title>Puzzles</title>
  <%= stylesheet_link_tag    "puzzles/application", media: "all" %>
  <%= javascript_include_tag "puzzles/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
